@import "tailwindcss";

:root {
    --background: #e2e8f0;
    --foreground: #171717;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), system-ui, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Utilities to hide scrollbars while keeping functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}