CREATE TABLE public.punch_violations ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), store_id TEXT NOT NULL, employee_toast_guid TEXT NOT NULL, business_date DATE NOT NULL, violation_type TEXT NOT NULL, in_time TIMESTAMP WITH TIME ZONE NOT NULL, out_time TIMESTAMP WITH TIME ZONE NOT NULL, allowed_minutes INTEGER NOT NULL, actual_minutes NUMERIC NOT NULL, status TEXT NOT NULL DEFAULT 'Avisado', notified_recipients JSONB, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() ); CREATE INDEX idx_punch_violations_lookup ON public.punch_violations (store_id, business_date, employee_toast_guid);
